/* src/components/FilterBar.css */
.filter-bar {
    display: flex;
    gap: 15px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.filter-bar input,
.filter-bar select {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.filter-bar button {
    flex: 1;
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-bar button:hover {
    background-color: var(--primary-color);
    color: var(--white);
}